<a href="https://colab.research.google.com/github/pkpathak143/Colab/blob/main/LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# importing dataset 
dataset = pd.read_csv("50_Startups.csv")

In [ ]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [ ]:
y = dataset['Profit']

In [ ]:
X = dataset[['R&D Spend', 'Administration', 'Marketing Spend', 'State']]

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression() # creating a model

In [ ]:
#Convert string to number : label encoding

state = dataset['State']

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
state_le = LabelEncoder()

In [ ]:
state = state_le.fit_transform(state) #it will give the number to all 

# 2 - New York
# 0 - California
# 1 - Florida

In [ ]:
X = X.values

In [ ]:
X[:, 3] = state

In [ ]:
model.fit(X,y) # fitting the values to the model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.coef_  #coefficient

array([  0.80575968,  -0.02682585,   0.02722767, -22.32057723])

In [ ]:
model.predict([[165349.20,136897.80,471784.10,2]]) #prediction function

array([192502.76441569])